<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>I Shoose Size</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static\images\sneakers.png" rel="icon">
  <link href="static\images\apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static\vendor\aos\aos.css" rel="stylesheet">
  <link href="static\vendor\bootstrap\css\bootstrap.min.css" rel="stylesheet">
  <link href="static\vendor\bootstrap-icons\bootstrap-icons.css" rel="stylesheet">
  <link href="static\vendor\boxicons\css\boxicons.min.css" rel="stylesheet">
  <link href="static\vendor\glightbox\css\glightbox.min.css" rel="stylesheet">
  <link href="static\vendor\remixicon\remixicon.css" rel="stylesheet">
  <link href="static\vendor\swiper\swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static\css\style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="index.html">I Shoose Size<span>.</span></a></h1>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#tabs">Application</a></li>

          <li><a class="nav-link scrollto" href="#team">Team</a></li>

          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="#tabs" class="get-started-btn scrollto">Get Started</a>
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
        <div class="col-xl-6">
          <h1>"I Shoose Size"</h1>
          <h2>Rekomendasi Ukuran Sepatu bagi Anda Yang Kesulitan Mengetahui Ukuran Sepatu</h2>
          <a href="#tabs" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>About</h2>
          <!--<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>-->
        </div>
        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch">
            <div class="content">
              <!--<h1>Proyek ini menentukan kaki seseorang dan ukuran sepatu yang sesuai menggunakan gambar kaki sebagai input. Ini melakukan praproses gambar dan menjalankan algoritma pengelompokan k-means untuk segmentasi berbasis warna. Kemudian mendeteksi kontur dengan melakukan deteksi tepi. Akhirnya, kotak pembatas dihasilkan yang mengukur ukuran kaki.</h1>-->
              <p>
                Proyek ini merupakan projek yang berfungsi untuk menghitung ukuran kaki seseorang sehingga dapat menentukan ukuran sepatu yang sesuai menggunakan gambar kaki sebagai input. Projek ini dikembangkan dengan
                teknologi Artificial Intelligence dengan domain Computer Vision yakni mengimplementasikan klusterisasi warna dan juga deteksi tepi, dimana
                proyek ini akan melakukan Preprocessing gambar kaki yang diinputkan dan menjalankan algoritma pengelompokan/klusterisasi k-means untuk segmentasi berbasis warna, kemudian mendeteksi kontur dengan melakukan deteksi tepi. Akhirnya, akan dihasilkan kotak pembatas,
                yang mana kotak pembatas inilah yang digunakan untuk mengukur ukuran kaki seseorang. 
              </p>
              <!--<a href="#" class="about-btn"><span>About us</span> <i class="bx bx-chevron-right"></i></a>-->
            </div>
          </div>
          <div class="col-xl-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                  <img src="static\images\sepatu-dan-kaki.jpg" alt="" class="img-fluid" width="2000" height="2000" >
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                  <img src="static\images\OIP.png" alt="" class="img-fluid" width="2000" height="2000" >
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Tabs Section ======= -->
    <section id="tabs" class="tabs">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Application</h2>
        </div>

        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                <h3>Silahkan Masukan Gambar Kaki Anda</h3>
                <p class="fst-italic">
                  Adapun beberapa syarat foto yang harus dipenuhi sehingga didapatkan hasil ukuran yang tepat. Contoh pengambilan foto kaki dapat dilihat pada gambar yang tertera
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Foto kaki dengan posisi menginjak/berada diatas kertas A4 dengan ujung tumit berada di ujung kertas</li>
                  <li><i class="ri-check-double-line"></i> Foto diambil dengan jarak 30 cm dari lantai </li>
                  <li><i class="ri-check-double-line"></i> Foto didukung pencahayaan yang baik sehingga kaki dapat terlihat jelas</li>
                  <!--<li><i class="ri-check-double-line"></i> Latar belakang foto sebisa mungkin adalah latar belakang polos</li>-->
                  <li><i class="ri-check-double-line"></i> Format foto adalah png/jpg/jpeg</li>
                  <li><i class="ri-check-double-line"></i> Contoh pengambilan foto kaki dapat dilihat pada gambar yang tertera</li>
                </ul>
                <h3>Hasil Pengukuran</h3>
                <h5>Panjang kaki Anda adalah {{length}} cm. Berdasarkan panjang kaki anda, anda direkomendasikan mencari sepatu dengan ukuran {{size}} atau satu tingkat diatasnya</h5>
                <br>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="static\images\contoh.jpg" alt="" class="img-fluid" width="300" height="300" >
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Tabs Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <!--<p>Adapun team developer aplikasi I Shoose Size ini terdiri atas 4 orang dengan jobdesk sebagai berikut</p>-->
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="static\images\team\team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                  <div class="member-info">
                    <h4>Stephania Sadipun</h4>
                    <span>(jobdesc)</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="static\images\team\team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                  <div class="member-info">
                    <h4>Intan Mutia Yulieta</h4>
                    <span>(jobdesc)</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="static\images\team\team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                  <div class="member-info">
                    <h4>Mazel Ecclesia</h4>
                    <span>(jobdesc)</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="static\images\team\team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                  <div class="member-info">
                    <h4>Muhammad Gilang</h4>
                    <span>(jobdesc)</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>Universitas Udayana</p>
                  <p>Universitas Nahdlatul Ulama Sunan Giri</p>
                  <p>Universitas Brawijaya</p>
                  <p>(Univ)</p>
                  
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>stephsadipun@gmail.com<br>intannnmutiaaa@gmail.com<br>mazelep17@gmail.com<br>(Gilang)</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>+62 812-3848-2798 (Nia)<br>+62 851-5799-6052 (Intan)<br>+62 812-8181-2428 (Mazel)<br>(Gilang)</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static\vendor\purecounter\purecounter_vanilla.js"></script>
  <script src="static\vendor\aos\aos.js"></script>
  <script src="static\vendor\bootstrap\js\bootstrap.bundle.min.js"></script>
  <script src="static\vendor\glightbox\js\glightbox.min.js"></script>
  <script src="static\vendor\isotope-layout\isotope.pkgd.min.js"></script>
  <script src="static\vendor\swiper\swiper-bundle.min.js"></script>
  <script src="static\vendor\php-email-form\validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static\js\main.js"></script>

</body>

</html>